:root {
  --border-radius: 10px;
  --spacing: 10px;

  --color-primary: #4a4e71;
  --color-light: #6F91BC;
  --color-success: #27B274;
  --color-error: #FF8080;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-primary);
  background: linear-gradient(to bottom, #f4f9ff, #e0edfb);
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
